<%= link_to "⬅ home", home_path %>
<h2>Quiz</h2>
Drawing B-fields (from permanent magnets):<br>
<ul>
  <li>Can you draw the magnetic field produced by a permanent bar magnet?<br></li>
  <li>The field of two bar magnets adjacent to each other?<br></li>
</ul>



<h2>Magnetic fields</h2>
<div class="container">
  <div class="info-card">
    <h2>Fundamental nature of magnetism</h2>
    <p>
      The fundamental nature of magnetism is the interaction of moving electric charges.<br>
      Like Electric forces, Magnetic forces also arise in two stages.
      <ul>
        <li>First, a moving charge or a collection of moving charges (that is, an electric current) produces a magnetic field.</li>
        <li>Next, a second current or moving charge responds to this magnetic field, and so experiences a magnetic force.</li>
      </ul>
      We are dealing with the first question now. For the second, see "Motor".
    </p>


    <h3>Field of a current carrying wire</h3>
    <div class="center"><%= image_tag 'RHR_current.jpg', class:"picture" %></div>
    <p class="center">Biot-Savart Law (for the curious)</p>
    <p>Direction of the B field generated is perpendicualr to the plane containing vectors v and r, in other words, "Right Hand Rule".</p>
    <div class="center"><%= image_tag 'Biot_Savart.png', class:"picture" %></div>
    <div class="center"><%= image_tag 'Biot_Savart_Integral.png', class:"picture" %></div>

    <h3>Field of a solenoid</h3>
    <div class="center"><%= image_tag 'field_solenoid.jpg', class:"picture" %></div>
  </div>
</div>

