<%= link_to "⬅ home", home_path %>
<h2>Quiz</h2>
Drawing B-fields (from permanent magnets):<br>
<ul>
  <li>Can you draw the magnetic field produced by a permanent bar magnet?<br></li>
  <li>The field of two bar magnets adjacent to each other?<br></li>
</ul>

<h2>Magnetic force produced by moving charges </h2>
<div class="container">
  <div class="info-card">
    <div class="center"><%= image_tag 'RHR_current.jpg', class:"picture" %></div>
    <p class="center">Biot-Savart Law (for the curious)</p>
    <div class="center"><%= image_tag 'Biot_Savart.png', class:"picture" %></div>
    <div class="center"><%= image_tag 'Biot_Savart_Integral.png', class:"picture" %></div>
    <p>
      The fundamental nature of magnetism is the interaction of moving electric charges.<br>

      Like Electric forces, Magnetic forces also arise in two stages.
      <ul>
        <li>First, a moving charge or a collection of moving charges (that is, an electric current) produces a magnetic field.</li>
        <li>Next, a second current or moving charge responds to this magnetic field, and so experiences a magnetic force.</li>
      </ul>
     <!--  The most familiar examples of magnetism are permanent magnets, which attract unmagnetized iron objects and can also attract or repel other magnets. A compass needle aligning itself with the earth’s magnetism is an example of this interaction.<br>
      But the fundamental nature of magnetism is the interaction of moving electric charges. Unlike electric forces, which act on electric charges whether they are moving or not, magnetic forces act only on moving charges.<br>

      We saw that the electric force arises in two stages: (1) a charge produces an electric field in the space around it, and (2) a second charge responds to this field.<br>
      Magnetic forces also arise in two stages. First, a moving charge or a collection of moving charges (that is, an electric current) produces a magnetic field. Next, a second current or moving charge responds to this magnetic field, and so experiences a magnetic force. -->
      We are dealing with the first question now. For the second, see "Motor".
    </p>
    <h3>Field of a solenoid</h3>
    <div class="center"><%= image_tag 'field_solenoid.jpg', class:"picture" %></div>
  </div>
</div>

